.navItem {
  margin-left: 15px;
}

.titleSite {
  font-size: 30px;
}

.header {
  position: fixed;
  top: 0;
  border-bottom: 2px solid red;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  width: 100vw;
  background: linear-gradient(#40e0d0, orangered);
}

.footer {
  color: blue;
  border-top: 2px solid red;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  width: 100vw;
  background: linear-gradient(orangered, #40e0d0);
  position: fixed;
}
